*{margin: 0;padding:0;}
ul,li{list-style: none;}
b{padding-right: 20px;}
span{padding-right: 20px;}
.box{
  margin: 50px 400px;
  padding: 10px;
  background-color: #666;
  width: 200px;
  background-image: url(uLcGQR-.png);
}
.red{
  color:red;
}
